    :root {
        --blue: #4386fb;
        --btn: #f8f9fa;
        --foot: #f2f2f2;
        --foottxt: #a4a7aa;
    }
    
    * {
         margin: 0;
         padding: 0;
         font-family: Arial, Helvetica, sans-serif;
    }
    
    /* Header/Nav */
    .left > a {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: black;
    }
    
    .left > a:hover {
        text-decoration: underline;
    }
    
    header > nav > a {
        text-decoration: none;
        color: black;
    }
    
    header > nav > a:hover {
        text-decoration: underline;
    }
    
    header > button {
        border: none;
        background-color: var(--blue);
        color: white;
        border-radius: 2px;
        padding: .3em .7em;
        font-weight: bolder;
    }
    /*END Header/Nav */
    
    .middle {
        background: url('images/google.png');
    }
    
    footer > foot > bottom {
        background-color: var(--foot);
    }
    
    .bottom > a {
        text-decoration: none;
        color: var(--foottxt);
    }