    :root {
        --blue: #4386fb;
        --btn: #f8f9fa;
        --foot: #f2f2f2;
        --searchicon: #9aa0a6;
        --search: #dfe1e5;
        --footertext: #5f6368;
    }
    
    * {
         margin: 0;
         padding: 0;
         font-family: Arial, sans-serif;
         font-size: 13px;
    }
    
    /* Header/Nav */
    .left > a {
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        color: black;
    }
    
    .left > a:hover {
        text-decoration: underline;
    }
    
    header > nav > a {
        text-decoration: none;
        color: black;
    }
    
    header > nav > a:hover {
        text-decoration: underline;
    }
    
    #signin {
        border: none;
        background-color: var(--blue);
        color: white;
        height: 30px;
        width: 5.4em;
        border-radius: 2px;
        font-weight: bolder;
    }
    /*END Header/Nav */ 
    
    /* Middle Section */
    #googlelogo {
        height: 92px;
        width: 272px;
    }
    
    #search {
        border-radius: 2.2em;
        border: solid var(--search) 1px;
        width: 582px;
        height: 47px;
    }
    
    #search-icon {
        color: var(--searchicon);
        
    }
    
    .googlesearch  {
        width: 127.4px;
        height: 36px;
        color: var(--footertext);
        border: none;
        border-radius: .5em;
    }
    
    .googlesearch:hover {
        border: 1px solid #cacaca;
        color: black;
        
        
    }
    
    .lucky {
        width: 127.4px;
        height: 36px;
        color: var(--footertext);
        border: none;
        border-radius: .5em;
    }
    
    .lucky:hover {
        border: 1px solid #cacaca;
        color: black;
        
    }
    
    /* END Middle Section */
    
    footer > foot > bottom {
        background-color: var(--foot);
    }
    
    .bottom > a {
        text-decoration: none;
        color: var(--footertext);
    }